{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}

    <div class="container">

        <a href="{{ path('homepage') }}" class="label label-info">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Revenir à la page d'accueil
        </a>

        <h1>Modifier une question</h1>

        {{ form_start(form) }}

            {{ form_row(form.statement) }}

        <button class="btn btn-info" type="submit">Valider</button>
        {{ form_end(form) }}


    </div>

{% endblock %}
