{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Quiz</h1>
        <hr>

        {{ form_start(form) }}

        {% for question in form.questions %}

            {{ form_widget(question) }}

        {% endfor %}

        <hr>
        <button class="btn btn-lg btn-success" type="submit">Valider mes réponses</button>
        {{ form_end(form) }}

    </div>

{% endblock %}
