{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <h1>Formation certification Symfony</h1>

        <div class="row">
            <a class="alert alert-info col-md-12" href="{{ path('category_list') }}">
                <i class="glyphicon glyphicon-chevron-right"></i>&nbsp;Liste des catégories
            </a>
        </div>

    </div>

{% endblock %}
