{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <h1>Formation certification Symfony</h1>

        <a href="{{ path('category_list') }}">Liste des catégories</a>

    </div>

{% endblock %}
